<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-school-group-heading" jhiTranslate="srsApp.schoolGroup.home.createOrEditLabel">Create or edit a School Group</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="srsApp.schoolGroup.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="srsApp.schoolGroup.starost" for="field_starost">Starost</label>
                    <select class="form-control" id="field_starost" name="starost" formControlName="starost">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('starost').value?.id ? editForm.get('starost').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="srsApp.schoolGroup.major" for="field_major">Major</label>
                    <select class="form-control" id="field_major" name="major" formControlName="major">
                        <option *ngIf="!editForm.get('major').value" [ngValue]="null" selected></option>
                        <option [ngValue]="majorOption.id === editForm.get('major').value?.id ? editForm.get('major').value : majorOption" *ngFor="let majorOption of majors; trackBy: trackMajorById">{{majorOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('major').invalid && (editForm.get('major').dirty || editForm.get('major').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('major').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
