<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-timetable-heading" jhiTranslate="srsApp.timetable.home.createOrEditLabel">Create or edit a Timetable</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="srsApp.timetable.subject" for="field_subject">Subject</label>
                    <input type="text" class="form-control" name="subject" id="field_subject"
                           formControlName="subject"/>
                    <div *ngIf="editForm.get('subject').invalid && (editForm.get('subject').dirty || editForm.get('subject').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('subject').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="srsApp.timetable.classDate" for="field_classDate">Class Date</label>
                    <div class="input-group">
                        <input id="field_classDate" type="text" class="form-control" name="classDate" ngbDatepicker  #classDateDp="ngbDatepicker" formControlName="classDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="classDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('classDate').invalid && (editForm.get('classDate').dirty || editForm.get('classDate').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('classDate').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="srsApp.timetable.schoolGroup" for="field_schoolGroup">School Group</label>
                    <select class="form-control" id="field_schoolGroup" name="schoolGroup" formControlName="schoolGroup">
                        <option *ngIf="!editForm.get('schoolGroup').value" [ngValue]="null" selected></option>
                        <option [ngValue]="schoolGroupOption.id === editForm.get('schoolGroup').value?.id ? editForm.get('schoolGroup').value : schoolGroupOption" *ngFor="let schoolGroupOption of schoolgroups; trackBy: trackSchoolGroupById">{{schoolGroupOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('schoolGroup').invalid && (editForm.get('schoolGroup').dirty || editForm.get('schoolGroup').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('schoolGroup').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
