<div>
    <h2 id="page-heading">
        <span jhiTranslate="srsApp.timetable.home.title">Timetables</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-timetable" [routerLink]="['/timetable/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="srsApp.timetable.home.createLabel">
            Create a new Timetable
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="timetables?.length === 0">
        <span jhiTranslate="srsApp.timetable.home.notFound">No timetables found</span>
    </div>
    <div class="table-responsive" *ngIf="timetables?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="subject"><span jhiTranslate="srsApp.timetable.subject">Subject</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="classDate"><span jhiTranslate="srsApp.timetable.classDate">Class Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="schoolGroup.name"><span jhiTranslate="srsApp.timetable.schoolGroup">School Group</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="building.number"><span jhiTranslate="srsApp.timetable.building">Building</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="classRoom.number"><span jhiTranslate="srsApp.timetable.classRoom">Class Room</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="startTime.startTime"><span jhiTranslate="srsApp.timetable.startTime">Start Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="classDuration.name"><span jhiTranslate="srsApp.timetable.classDuration">Class Duration</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="endTime.endTime"><span jhiTranslate="srsApp.timetable.endTime">End Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let timetable of timetables ;trackBy: trackId">
                <td><a [routerLink]="['/timetable', timetable.id, 'view' ]">{{timetable.id}}</a></td>
                <td>{{timetable.subject}}</td>
                <td>{{timetable.classDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="timetable.schoolGroup">
                        <a [routerLink]="['/school-group', timetable.schoolGroup?.id, 'view' ]" >{{timetable.schoolGroup?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="timetable.building">
                        <a [routerLink]="['/building', timetable.building?.id, 'view' ]" >{{timetable.building?.number}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="timetable.classRoom">
                        <a [routerLink]="['/class-room', timetable.classRoom?.id, 'view' ]" >{{timetable.classRoom?.number}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="timetable.startTime">
                        <a [routerLink]="['/class-hours', timetable.startTime?.id, 'view' ]" >{{timetable.startTime?.startTime}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="timetable.classDuration">
                        <a [routerLink]="['/class-duration', timetable.classDuration?.id, 'view' ]" >{{timetable.classDuration?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="timetable.endTime">
                        <a [routerLink]="['/class-hours', timetable.endTime?.id, 'view' ]" >{{timetable.endTime?.endTime}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/timetable', timetable.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/timetable', timetable.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/timetable', { outlets: { popup: timetable.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="timetables?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
