<div>
    <h2 id="page-heading">
        <span jhiTranslate="srsApp.classHours.home.title">Class Hours</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-class-hours" [routerLink]="['/class-hours/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="srsApp.classHours.home.createLabel">
            Create a new Class Hours
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="classHours?.length === 0">
        <span jhiTranslate="srsApp.classHours.home.notFound">No classHours found</span>
    </div>
    <div class="table-responsive" *ngIf="classHours?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="srsApp.classHours.startTime">Start Time</span></th>
            <th scope="col" ><span jhiTranslate="srsApp.classHours.endTime">End Time</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let classHours of classHours ;trackBy: trackId">
                <td><a [routerLink]="['/class-hours', classHours.id, 'view' ]">{{classHours.id}}</a></td>
                <td>{{classHours.startTime}}</td>
                <td>{{classHours.endTime}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/class-hours', classHours.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/class-hours', classHours.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/class-hours', { outlets: { popup: classHours.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
