<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-5 font-weight-400 text-uppercase" jhiTranslate="home.title">Classroom Reservation System!
        </h1>
        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}".
                </span>
            </div>

            <div *ngSwitchCase="true">
                <div class="flip shadow">
                    <div class="front" style="background: linear-gradient(rgba(65, 137, 198, .5), rgba(65, 137, 198, .5)),
                        url(/content/images/new-reservation-card.jpeg)">
                        <h1 jhiTranslate="global.menu.new_reservation" class="text-shadow text-uppercase">New
                            reservation</hi>
                    </div>
                    <div class="back">
                        <a routerLink="/reservation/new">
                            <fa-icon icon="plus-circle"></fa-icon>
                        </a>
                    </div>
                </div>
                <div class="flip shadow">
                    <div class="front" style="background: linear-gradient(rgba(205, 218, 22, 0.39), rgba(186, 218, 43, 0.425)),
                        url(/content/images/my-reservations-card.jpeg)">
                        <h1 jhiTranslate="global.menu.account.my_reservations" class="text-shadow text-uppercase">My
                            reservations</hi>
                    </div>
                    <div class="back">
                        <a routerLink="/my-reservations">
                            <fa-icon icon="arrow-right"></fa-icon>
                        </a>
                    </div>
                </div>

            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to use all features
                    please</span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign
                    in</a>.
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register"
                    jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>
    </div>
</div>
