<div>
  <h2 id="page-heading">
    <span jhiTranslate="srsApp.myReservations.home.title">My Reservations</span>
  </h2>
  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>
  <br />
  <div class="alert alert-warning" *ngIf="!userReservationsCount">
    <span jhiTranslate="srsApp.myReservations.home.notFound">No reservations found</span>
  </div>

  <div class="mb-3" *ngIf="userReservationsCount">
    <span
      *ngIf="currentAccount.authorities.includes('ROLE_USER') && !currentAccount.authorities.includes('ROLE_TEACHER')"
      jhiTranslate="srsApp.myReservations.home.count" class="font-weight-bold">Number of your reservations:</span>
    <span *jhiHasAnyAuthority="'ROLE_TEACHER'" jhiTranslate="srsApp.myReservations.home.count_teacher"
      class="font-weight-bold">Number of your reservations assigned to you:</span>
    <span class="badge badge-primary">{{ userReservationsCount }}</span>
  </div>

  <div class="table-responsive" *ngIf="userReservationsCount">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="srsApp.reservation.name">Name</span></th>
          <th scope="col"><span jhiTranslate="srsApp.reservation.originalClassDate">Original Class Date</span></th>
          <th scope="col"><span jhiTranslate="srsApp.reservation.newClassDate">New Class Date</span></th>
          <th scope="col"><span jhiTranslate="srsApp.reservation.originalStartTime">Original Start Time</span></th>
          <th scope="col"><span jhiTranslate="srsApp.reservation.newStartTime">New Start Time</span></th>
          <th scope="col"><span jhiTranslate="srsApp.reservation.createdDate">Created Date</span></th>
          <th *jhiHasAnyAuthority="'ROLE_TEACHER'" scope="col"><span
              jhiTranslate="srsApp.reservation.requestedBy">Requested By</span></th>
          <th scope="col"><span jhiTranslate="srsApp.reservation.status">Status</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let myReservations of userReservations; trackBy: trackId"
          [ngStyle]="{ 'background-color': changeBackgroundColorByStatus(myReservations) }">
          <td>
            <a [routerLink]="['/reservation', myReservations.id, 'view']">{{ myReservations.id }}</a>
          </td>
          <td>{{ myReservations.name }}</td>
          <td>{{ myReservations.originalClassDate | date: 'mediumDate' }}</td>
          <td>{{ myReservations.newClassDate | date: 'mediumDate' }}</td>
          <td>
            <div *ngIf="myReservations.originalStartTime">
              <a [routerLink]="['/class-hours', myReservations.originalStartTime?.id, 'view']">{{
                myReservations.originalStartTime?.startTime
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="myReservations.newStartTime">
              <a
                [routerLink]="['/class-hours', myReservations.newStartTime?.id, 'view']">{{ myReservations.newStartTime?.startTime }}</a>
            </div>
          </td>
          <td>{{ myReservations.createdDate | date: 'medium' }}</td>
          <td *jhiHasAnyAuthority="'ROLE_TEACHER'">{{ myReservations.requestedBy }}</td>
          <td>
            <div *ngIf="myReservations.status && language === 'pl'">
              <a
                [routerLink]="['/status', myReservations.status?.id, 'view']">{{ myReservations.status?.polishName }}</a>
            </div>
            <div *ngIf="myReservations.status && language === 'en'">
              <a
                [routerLink]="['/status', myReservations.status?.id, 'view']">{{ myReservations.status?.englishName }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/reservation', myReservations.id, 'view']"
                class="btn btn-info btn-sm">
                <fa-icon [icon]="'eye'"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>
              <div *ngIf="myReservations.status.id !== 2 && myReservations.status.id !== 3">
                <button *jhiHasAnyAuthority="'ROLE_TEACHER'" type="submit"
                  [routerLink]="['/my-reservations', { outlets: { popup: myReservations.id + '/accept' } }]"
                  replaceUrl="true" queryParamsHandling="merge" class="btn btn-success btn-sm">
                  <fa-icon [icon]="'check'"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.accept">Accept</span>
                </button>
              </div>
              <div *ngIf="myReservations.status.id !== 2 && myReservations.status.id !== 4">
                <button *jhiHasAnyAuthority="'ROLE_TEACHER'" type="submit"
                  [routerLink]="['/my-reservations', { outlets: { popup: myReservations.id + '/reject' } }]"
                  replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                  <fa-icon [icon]="'times'"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.reject">Reject</span>
                </button>
              </div>
              <button
                *ngIf="currentAccount.authorities.includes('ROLE_USER') && !currentAccount.authorities.includes('ROLE_TEACHER') && myReservations.status.id !== 2"
                type="submit" [routerLink]="['/my-reservations', { outlets: { popup: myReservations.id + '/delete' } }]"
                replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                <fa-icon [icon]="'times'"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.cancel">Cancel</span>
              </button>
            </div>
  </div>
  </td>
  </tr>
  </tbody>
  </table>
</div>
</div>